{% extends "base.html" %}
{% block content %}
<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <fieldset>
    <legend>Add Employee</legend>
    <p>{{form.name.label}}{{form.name(size=32,autofocus=True)}}
    {% for error in form.name.errors %}
        <span style="color:red;">{{error}}</span>
    {% endfor %}
    </p>
    
    <p>{{form.age.label}}{{form.age(size=32)}}
    {% for error in form.age.errors %}
        <span style="color:red;">{{error}}</span>
    {% endfor %}
    </p>
    
    <p>{{form.ed.label}}{{form.ed(size=32)}}
    {% for error in form.ed.errors %}
        <span style="color:red;">{{error}}</span>
    {% endfor %}
    </p>
    
    <p>{{form.role.label}}{{form.role(size=32)}}
    {% for error in form.role.errors %}
        <span style="color:red;">{{error}}</span>
    {% endfor %}
    </p>
    
    <p>{{form.submit()}}</p>
    </fieldset>
    <p><a href="{{url_for('menu')}}">Back to Menu</a></p>
</form>
{% endblock %}

