{% extends "base.html" %}
{% block content %}
<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <fieldset>
    <legend>Modify Employee</legend>
    <p>
    {{form.id.label}}{{form.id(size=32,autofocus=True)}}
    {% for error in form.id.errors %}
        <span style="color:red;">{{error}}</span>
    {% endfor %}
       
    <p>{{form.ed.label}}{{form.ed(size=32)}}</p>
    
    <p>{{form.role.label}}{{form.role(size=32)}}</p>
    
    <p>{{form.submit()}}</p>
    </fieldset>
<p><a href="{{url_for('menu')}}">Back to Menu</a></p>
</form>
{% endblock %} 
